.footer-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: grey;
}
.footer-link:hover{
    color: white;
}

.footer-link-text{
    line-height: 2rem;
    padding-bottom: 0.5rem;
}
